@font-face {
  font-family: "snif";
  src: url("snif.woff") format("woff");
  font-display: swap;
}

body {
  margin: 0;
  background-color: #fffef7;
  font-family: Snif, Arial, Helvetica, sans-serif;
}

button {
  font-family: Snif, Arial, Helvetica, sans-serif;
}

#start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("start.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#start-button,
#play-again {
  position: absolute;
  right: 30vw;
  bottom: 10vh;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  cursor: pointer;
  background-color: #f47c4a;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-left: 25px;
}

#play-again {
  position: initial;
}

#start-button:focus {
  outline: none;
}

.bop-it {
  animation: bop_it_kf 0.6s ease-in-out infinite alternate forwards;
}

@keyframes bop_it_kf {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  100% {
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #f2804f;
  }
}

#game {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#end-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("endscreen.png");
  color: #fff;
  text-shadow: 1px;
}

#end-screen #text-container {
  max-width: 600px;
  text-align: center;
  text-shadow: 2px 2px #333;
  font-size: 2rem;
}

#autograf-container {
  max-width: 500px;
}

#autograf-container img {
  width: 100%;
}

#ui-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;
  background-color: #f2804f;
  color: #fff;
  border-radius: 0 0 0 25px;
  font-size: 2rem;
}

#living-room,
#bathroom {
  width: 55.5vw;
  position: relative;
}

#snif {
  z-index: -1;
}

.energy-source,
#radiator_2_,
#tv,
#floor_lamp,
#lightswitch_left_1_,
#lightswitch_left_3_,
#washer_2_,
#shower,
#sink_2_ {
  cursor: pointer;
  transition: all 0.2s ease-out;
  transform-box: fill-box;
  transform-origin: center;
  stroke-opacity: 0;
  stroke: rgba(252, 252, 117, 0.25);
  stroke-width: 1;
}

.energy-source:hover,
#radiator_2_:hover,
#tv:hover,
#floor_lamp:hover,
#lightswitch_left_1_:hover,
#lightswitch_left_3_:hover,
#washer_2_:hover,
#shower:hover,
#sink_2_:hover {
  transform: scale(1.02);
  stroke-opacity: 1;
}
/* #left_speaker,
#right_speaker {
  display: none;
} */

#hidden-snif {
  width: 115px;
  margin-left: 100px;
  /* display: none; */
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.hide {
  opacity: 0;
  display: none;
}

/*  */
/*  */
/* livingroom animations */
.follow-path {
  transform-box: fill-box;
  transform-origin: bottom;
  animation: follow-path 6s linear infinite backwards;
  animation-play-state: paused;
  offset-rotate: 0deg;
  offset-path: path(
    "M231.1,355.6c32.5,16,6,87.1,45.7,80.5s163.3-58.8,136.5-83.7c-28.6-26.6-34.1-13.4-86.3-44.7c-50.6-30.4-76.5-54.6-102.6-55.6c-21.6-0.9-32.6,13.4-59.6,26.8c-25.8,12.8-70.5,35.2-66.4,59.8C102.1,359.7,178.1,329.5,231.1,355.6z"
  );
  /*  */
}

#path {
  fill: none;
  stroke: black;
}

@keyframes follow-path {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

.walk {
  transform-box: fill-box;
  transform-origin: bottom;
  animation: walk 0.4s ease-in-out infinite alternate both;
  animation-play-state: paused;
}

@keyframes walk {
  0% {
    transform: scaleY(0.8) scaleX(0.8);
  }

  50% {
    transform: scaleY(0.6) scaleX(1);
  }

  100% {
    transform: scaleY(0.8) scaleX(0.8);
  }
}

.idle {
  animation: idle 1.25s ease-in-out infinite alternate both;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes idle {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.99) scaleX(1.02);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

.fade-in {
  animation: fade_in 0.8s ease-in-out 1 both;
  opacity: 0;
}

@keyframes fade_in {
  0% {
    transform: translateY(-800px) scaleX(0) scaleY(1.8);
  }

  50% {
    transform: translateY(0) scaleX(0.15);
  }

  80% {
    transform: translateY(100px) scaleX(1.2) scaleY(0.8);
  }

  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
    opacity: 1;
  }
}

.note {
  animation: note_kf 4s linear infinite;
}

@keyframes note_kf {
  0% {
    transform: translateY(0vw);
  }

  10% {
    transform: translateX(-0.5vw) translateY(0.1vw);
  }
  100% {
    transform: translateX(0) translateY(-6vw);
  }
}

.speaker {
  animation: speaker_kf 1s linear infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes speaker_kf {
  100% {
    transform: scale(1.2);
  }
}

.spin {
  position: relative;
  animation: spin_kf 2s linear infinite;
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes spin_kf {
  100% {
    transform: rotate(360deg);
  }
}

.glow {
  animation-name: glow_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes glow_kf {
  to {
    filter: none;
  }
}

.scale2 {
  animation: scale2_kf 1s linear infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes scale2_kf {
  100% {
    transform: scale(1.1);
  }
}

/* idk */
/* idk */
/* idk */
/* idk */
.spin {
  position: relative;
  animation: spin_kf 2s linear infinite;
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes spin_kf {
  100% {
    transform: rotate(360deg);
  }
}

.glow {
  animation-name: glow_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes glow_kf {
  to {
    filter: none;
  }
}

.scale2 {
  animation: scale2_kf 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes scale2_kf {
  100% {
    transform: scale(1.1);
  }
}

.vibrate {
  animation: vibrate_kf 1s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes vibrate_kf {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(2deg);
  }
  66% {
    transform: rotate(-2deg);
  }
}

.vibrate_cord {
  animation: vibrate_cord_kf 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes vibrate_cord_kf {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(1deg);
  }
  66% {
    transform: rotate(-1deg);
  }
}

.vibrate2 {
  animation: vibrate2_kf 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes vibrate2_kf {
  2%,
  6%,
  10%,
  14%,
  18% {
    transform: translate3d(-1px, -3px, 0);
  }
  0%,
  4%,
  8%,
  12%,
  16%,
  20% {
    transform: translate3d(1px, 3px, 0);
  }
  20%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.drop {
  animation: drop_kf 1s linear backwards;
}
@keyframes drop_kf {
  0% {
    transform: translateY(0vw);
  }
  30% {
    transform: translateY(0.2vw);
  }

  70% {
    transform: translateY(0.4vw);
  }
  100% {
    transform: translateY(0.6vw);
  }
}

.sink_water {
  animation: sink_water_kf 20s ease-in-out forwards;
  transform-origin: center bottom;
  transform-box: fill-box;
}
@keyframes sink_water_kf {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(6);
  }
}

.drop_shower {
  animation: drop_shower_kf 0.6s linear backwards;
}
@keyframes drop_shower_kf {
  0% {
    transform: translateY(0vw);
  }

  100% {
    transform: translateY(8vw);
  }
}

.puddle_scale_center {
  animation: puddle_scale_center_kf 30s linear;
  transform-origin: center center;
  transform-box: fill-box;
  animation-fill-mode: forwards;
}
@keyframes puddle_scale_center_kf {
  0% {
    transform: scale(9.3);
    opacity: 1;
  }

  49.6% {
    opacity: 1;
  }
  /*50%{
    transform: scale(5);

  }
  60%{
    transform: scale(2.18);

  }*/
  100% {
    transform: scale(16.5);
    opacity: 1;
  }
}

.ripple {
  animation: ripple_kf 1s linear;
  transform-origin: center center;
  transform-box: fill-box;
  animation-fill-mode: backwards;
  opacity: 0;
}

@keyframes ripple_kf {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    transform: scale(5);
    opacity: 0;
  }
}

.ripple2 {
  animation: ripple2_kf 1s linear;
  animation-fill-mode: backwards;
  transform-origin: center center;
  transform-box: fill-box;
}
@keyframes ripple2_kf {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    transform: scale(4);
  }
}
