body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

#living-room {
  min-width: 50vw;
}

.walk {
  transform-box: fill-box;
  transform-origin: bottom;
  animation: walk 4s linear infinite reverse both;
  animation-play-state: paused;
  offset-rotate: 0deg;
  offset-path: path("M140.9,249.6c30.8,1.4,64.9-13.7,65.5-29.6c0.7-17.7-40.3-33.4-74.6-32.2 c-18.7,0.7-47.3,6.9-52.4,20.2C73,224.7,105.7,248,140.9,249.6z");
  /*  */
}

@keyframes walk {
  100% {
    offset-distance: 100%;
  }
}

#tv,
#window {
  cursor: pointer;
}

.note {
  animation:note_kf 4s linear infinite
  }
  
  @keyframes note_kf {
    0% {
   transform:translateY(0vw)
    }
  
    10% {
      transform:translateX(-.5vw) translateY(.1vw);
  
    } 
    100% {
      transform:translateX(0) translateY(-6vw);

    }
  }

.speaker {
  animation:speaker_kf 1s linear infinite;
  transform-origin: center ;
  transform-box: fill-box;
}
@keyframes speaker_kf {
  100%{
    transform:scale(1.2);
  }
}

/*@keyframes speaker_kf {

  0%, 2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18% {
            transform: translate3d(-1px, 0, 0) ;
  }
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19% {
            transform: translate3d(1px, 0, 0) ;
  }
  20%, 100% {
            transform: translate3d(0, 0, 0);
  }
}*/

.tv_glow{

}
.hide {
opacity:0;
display: none;
}

.spin {
  position: relative;
  animation:spin_kf 2s alternate;
  animation-iteration-count: infinite;
  transform-origin: center center;
  transform-box:fill-box;

  
}

@keyframes spin_kf {
  from{
    opacity:1;
  }
 100%{
  opacity:0;
   transform: translateX(1vw) rotateY(90deg) ;
  
 }
}
.spin2 {
  position: relative;
  animation:spin2_kf 2s linear infinite;
  transform-origin: center center;
  transform-box:fill-box;

  
}

@keyframes spin2_kf {
  from{
    opacity:0;
    transform: rotateY(90deg) ;

  }
 100%{
  opacity:1;
  transform: rotateY(0deg) ;
  
 }
}

.glow {
  animation-name: glow_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes glow_kf {
  to {filter: none;}
}

.scale2 {
  animation:scale2_kf 1s linear infinite;
  transform-origin: center ;
  transform-box: fill-box;
}
@keyframes scale2_kf {
  100%{
    transform:scale(1.1);
  }
}


.vibrate {
  animation:vibrate_kf 1s ease-in-out infinite;
  transform-origin: center ;
  transform-box: fill-box;
}
@keyframes vibrate_kf {
  0%{
    transform:  rotate(0deg);
}

  33% {
      transform: rotate(2deg);
  }
  66%{
      transform:  rotate(-2deg);
  }
}

.vibrate_cord {
  animation:vibrate_cord_kf 1s linear infinite;
  transform-origin: center ;
  transform-box: fill-box;
}
@keyframes vibrate_cord_kf {
  0% {
    transform: rotate(0deg);
}

  33% {
      transform: rotate(1deg);
  }
  66%{
      transform:  rotate(-1deg);
  }
}

.vibrate2 {
  animation: vibrate2_kf 3s linear infinite;
  transform-origin: center ;
  transform-box: fill-box;
}
@keyframes vibrate2_kf {

   2%, 6%, 10%, 14%,  18% {
    transform: translate3d(-1px, -3px, 0) ;
}
0%, 4%, 8%, 12%, 16%, 20%{
    transform: translate3d(1px, 3px,0) ;
}
20%, 100% {
    transform: translate3d(0, 0, 0);
}
}

.vibrate3 {
  animation: vibrate3_kf .1s linear infinite;
  transform-origin: center ;
  transform-box: fill-box;
}
@keyframes vibrate3_kf {

   33%{
    transform: translate3d(-1px, -1px, 0) ;
}
66%{
    transform: translate3d(1px, 1px,0) ;
}
99% {
    transform: translate3d(0, 0, 0);
}

  
}
.drop {
  animation: drop_kf 1s ease-in-out backwards;
}
@keyframes drop_kf {
  0% {
    transform: translateY(0vw);
  }
  30% {
    transform: translateY(.2vw);
  }
  
70%{
  transform: translateY(1.8vw);

}
     100% {
       transform:translateY(2vw);
     }
}

.sink_water {
  animation: sink_water_kf 20s ease-in-out forwards;
  transform-origin: center bottom;
  transform-box: fill-box;
}
@keyframes sink_water_kf {
  0% {
   transform:scale(1);
  }
     100% {
      transform:scale(6);

     }
}

.drop_shower {
  animation: drop_shower_kf .6s ease-in-out backwards;
}
@keyframes drop_shower_kf {
  0% {
    transform:translateY(0vw);
  }

     100% {
       transform:translateY(24.5vw) ;
     }
}


.puddle_scale_center {
  animation: puddle_scale_center_kf 30s linear;
  transform-origin: center center;
  transform-box: fill-box;
  animation-fill-mode: forwards;

}
@keyframes puddle_scale_center_kf {
  0% {
    transform: scale(9.3);
    opacity:1;
  }

  49.6% {
    opacity:1;
  }
  /*50%{
    transform: scale(5);

  }
  60%{
    transform: scale(2.18);

  }*/
     100% {
      transform: scale(16.5);
      opacity:1;

    }
}

.ripple {
  animation: ripple_kf 1s linear;
  transform-origin: center center;
  transform-box: fill-box;
  animation-fill-mode: backwards;
opacity: 0;
}

@keyframes ripple_kf {
  from {
    opacity: 1;
    transform:scale(1);

  }
  to {
  transform:scale(5);
    opacity: 0;
  }
}

.ripple2 {
  animation: ripple2_kf 1s linear;
  animation-fill-mode: backwards;
  transform-origin: center center;
  transform-box: fill-box;
}
@keyframes ripple2_kf {
  0% {
    opacity: 1;
    transform: scale(1);

  }
  50% {
    opacity: 0;
  }
100% {
  opacity: 0;

 transform: scale(4);
}
}